<div class="container home mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <p-card>
        <ng-template pTemplate="header">
            <div class="row">
              <div class="col-md-10 offset-md-1 mt-4">
                <h3>Gun Violence Trends: A Comprehensive Analysis</h3>
              </div>
            </div>
        </ng-template>
        <div class="row mt-3">
          <div class="col-md-4 mb-3">
            <p-button routerLink="monthlydata" label="Total Deaths(Monthly)" ></p-button>
          </div>
          <div class="col-md-4">
            <p-button routerLink="yearlydata" label="Total Deaths(Yearly)" ></p-button>
          </div>
          <div class="col-md-4">
            <p-button routerLink="agedata" label="Deaths by Age Group" ></p-button>
          </div>
          <div class="col-md-4">
            <p-button routerLink="policedata" label="Police Involvement" ></p-button>
          </div>
          <div class="col-md-4">
            <p-button routerLink="topstates" label="Top States" ></p-button>
          </div>
          <div class="col-md-4">
            <p-button routerLink="deathdata" label="Type Of Deaths" ></p-button>
          </div>
        </div>

    </p-card>

    </div>

  </div>
</div>
